.sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  height: 100%;
  background: rgb(170, 216, 170);
  box-shadow: 4px 4px 6px -2px rgb(0, 0, 0);
  transition: width 0.3s ease;
  overflow: hidden;
  padding-top: 10px;
}

.sidebar.open {
  width: 200px;
}

.sidebar.closed {
  width: 90px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  gap: 10px;

  height: 50px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar-item:hover {
  background: #f0f0f0;
}

.text {
  font-size: 14px;
}

.sidebar.closed .text {
  display: none;
}

.main-content {
  transition: margin-left 0.3s ease-in-out;
  margin-top: 150px;
  width: 1100px;
  
}


.main-content.expanded{

  margin-left: 205px;
  
  

}
.main-content.collapsed{

  margin-left: 100px;
  

}

.sidebaricon{
  width: 40px;
}



.sidebar-parent-item .arrowp {
  transition: transform 0.3s ease;
}
.arrowp.open {
  transform: rotate(180deg);
}


.sidebar-parent-item {
  display: flex;
  flex-direction: column;
  gap: 70px;
}


.submenu {
  background-color: rgb(185, 255, 185);
}