.Select-selection-containerp {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 75px;
}

.Select-selection-containerp h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #ffffff;
}

.Select-cardsp {
    justify-content: center;
    margin-right: 350px;
    margin-left: 75px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 200px 200px  200px ;
    column-gap: 180px;
    row-gap: 50px   ;
}

.Select-cardp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a5f77685;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 250px;
    text-align: center;
}

.Select-cardp:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Select-iconp {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.Select-cardp h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.Select-cardp p {
    font-size: 1rem;
    color: #666;
}

